<%  include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-5">
                </div>
                <div class="col-lg-12 col-md-5">
                    <div class="card card-user">
                        <div class="image">
                            <img src="/public/assets/img/background1.jpeg" alt="..." />
                        </div>
                        <div class="content">
                            <form role="form" action="add/<%= id_sensor %>" method="post" encType="multipart/form-data">
                                <div class="form-group">
                                    <label for="sel1">Select the room that you want:</label>
                                    <select class="form-control" name="division" id="sel1" onclick="myfunction()">
                                        <% for (var i=0 ; i <= division.length -1; i++) { %>
                                            <option value="<%= id_division[i] %>" selected>
                                                <%= house[i] %> -
                                                    <%= division[i] %>
                                            </option>
                                            <% } %>
                                                <option id="new">New room</option>
                                                <option id="fak">Teste </option>
                                    </select>
                                </div>
                                <hr>
                                <div class="form-group" id="target" style="visibility: hidden">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Select the house that you want:</label>
                                            <select class="form-control" name="house" id="sel2">
                                                <% for(var i=0; i<= house.length -1; i++) { %>
                                                    <% if( house[i] != house[i-1]) { %>
                                                        <option id="id_house" value="<%= id_house[i] %>">
                                                            <%= house[0] %>
                                                        </option>
                                                        <% } %>
                                                            <% } %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>New room:</label>
                                            <input type="text" class="form-control border-input" id="room" name="room" placeholder="Name">
                                            <input type="text" class="form-control border-input" id="sensor_id" name="sensor_id" value="<%= id_sensor %>" hidden>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <input type="button" class="btn btn-info btn-fill btn-wd" style="margin: 5px; float: right; margin-right: 10px;" value='Add sensor' onclick="submit()">
                                <button type="submit" class="btn btn-info btn btn" style=" margin: 5px; float: right;">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-5"></div>
    </div>
    </div>
    </div>

    <script>
        function myfunction() {
            if (document.getElementById('new').selected == true) {
                document.getElementById('target').style = "visibility: visible";
            } else {
                document.getElementById('target').style = "visibility: hidden";
            }
        };

        function submit() {
            data = {
                "id_house": document.getElementById("id_house").value,
                "name": document.getElementById("room").value,
                "sensor_id": document.getElementById("sensor_id").value
            }

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/division",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                dataType: "json",
                success: function (data, status, jqXHR) {
                },
                error: function (jqXHR, status) {
                    alert('fail' + status.code);
                }
            });
        };
    </script>

    <% include partials/footer %>