<% include partials/header %>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-5">
                </div>

                <% if (isNew){ %>
                    <div class="col-lg-8 col-md-5">

                        <div class="card card-user">

                            <br>
                            <div class="content">
                                <form role="form" action="/room/<%= casa1 %>/regi" method="post" encType="multipart/form-data" ref='uploadForm' id='uploadForm'>
                                    <div class="row">

                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-check">
                                                <label class="text-center">Sensor(1-20)</label>
                                                <input type="text" class="form-control border-input" id="sensor" name="sensor" pattern="[a-zA-Z0-9-]{3,20}" placeholder="Insert the code that's in the back of your sensor"
                                                    required>
                                                <br>


                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-check">
                                                <label class="text-center">Room Name(4-45)</label>
                                                <input type="text" class="form-control border-input" id="name" name="name" pattern="{4,45}" placeholder="Name for the Room"
                                                    required>
                                                <br>


                                            </div>
                                        </div>



                                    </div>

                                    <div class="row">
                                        <div class="col-md-2">
                                        </div>

                                        <div class="col-md-8 text-center" style="margin-top: 20px;">
                                            <button type="submit" class="btn btn-info btn btn" style=" margin: 5px;">Cancel</button>
                                            <button type="submit" class="btn btn-info btn-fill btn-wd" value='Upload!' style="margin: 5px;  margin-right: 10px;" value='Upload!'>Add Room</button>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <% }else{ %>
                        <div class="col-lg-8 col-md-5">
                            <form role="form" action="/room/<%= divisao %>/<%= casa1 %>/delete" method="post">

                                <button type="submit" class=" btn-danger btn-fill " style="	 position: absolute; left: 10px;top: -10px;border-style: none; width: 30px; height: 30px; color: black;text-align: center; border-radius: 50%; z-index: 2000;">
                                    <i class="fas fa-trash-alt"></i>
                                </button>


                            </form>
                            <div class="card card-user">

                                <br>
                                <div class="content">
                                    <form role="form" action="/room/<%= casa1 %>/<%= divisao %>/edit" method="post" encType="multipart/form-data" ref='uploadForm'
                                        id='uploadForm'>
                                        <div class="row">

                                            <div class="col-md-1">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-check">
                                                    <label class="text-center">Sensor(1-20)</label>
                                                    <input type="text" class="form-control border-input" name="sensor" placeholder=" sensor" pattern="[a-zA-Z0-9-]{3,20}" value="<%= sensor %>"
                                                        required>
                                                    <br>


                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-check">
                                                    <label class="text-center">Divison(4-45)</label>
                                                    <input type="text" class="form-control border-input" name="name" placeholder="Divisions name" pattern="{4,45}"
                                                        value="<%= nome %>" required>
                                                    <br>


                                                </div>
                                            </div>



                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                            </div>

                                            <div class="col-md-8 text-center" style="margin-top: 20px;">
                                                <button type="submit" class="btn btn-info btn btn" style=" margin: 5px;">Cancel</button>
                                                <button type="submit" class="btn btn-info btn-fill btn-wd" value='Upload!' style="margin: 5px;  margin-right: 10px;" value='Upload!'>Edit Room</button>

                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <% } %>



                            <!--- Outra div -->


            </div>

            <div class="col-lg-1 col-md-5"></div>

        </div>
    </div>
    </div>

    <% include partials/footer %>