<% include partials/header %>
  <style>
    a {
      color: black;
    }

    a:hover,
    a:focus {
      color: black;
    }
  </style>
  <script>
    function whynot()
    {



      google.charts.load('current',
      {
        'packages': ['corechart']
      });
      google.charts.setOnLoadCallback(drawChart);

      function drawChart()
      {
        var data = google.visualization.arrayToDataTable([
          ['data', 'temperature'],
          <% for (var e =0 ; e < graph.length -2; e++) { %>

          ['<%= graph[e].data%>', <%=graph[e].temperature%>],
          <% } %>
        ]);

        var options = {
          legend:
          {
            position: 'none'
          },
          title: 'Temperatura nas últimas 24 Horas',
          hAxis:
          {
            slantedText: 1,
            showTextEvery: 300,
            title: 'ºC',
            titleTextStyle:
            {
              color: '#333'
            }
          },
          vAxis:
          {
            minValue: 0
          }
        };

        var chart = new google.visualization.AreaChart(document.getElementById(
          'chartContainer'));
        chart.draw(data, options);
      }

    }
    window.onload = function()
    {

      whynot();
    }
    
    function refresh()
    {
      $('#chartContainer').load( '/room/<%=division%>/<%=casa1%> #chartContainer > * ');
      whynot();
    }
  </script>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-1">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-1"
                  aria-expanded="true" aria-controls="collapse-1">


                  <div class="row">
                    <h3 style="text-align: center;">Temperatura</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-thermometer-half" style="color: RoyalBlue ;"></i></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-1">
                <div class="panel-body">
                  <hr>
                  <!-- <p>Estado: <i class="fas fa-check" style="color: green;"></i></p> -->


                  <p id="tempAtual"></p>

                </div>
              </div>



            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-2">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-2"
                  aria-expanded="true" aria-controls="collapse-2">


                  <div class="row">
                    <h3 style="text-align: center;">Movimento</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i id="Movi" class="fas fa-street-view" style="color: Grey   ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-2">
                <div class="panel-body">
                  <hr>
                  <!-- <p>Estado: <i class="fas fa-check" style="color: green;"></i></p> -->
                  <p id="movAtual"></p>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-3">

                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-3"
                  aria-expanded="true" aria-controls="collapse-3">


                  <div class="row">
                    <h3 style="text-align: center;">Iluminação</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-lightbulb" style="color: Gold ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-3">
                <div class="panel-body">
                  <hr>
                  <div class="col-md-6">
                    <!-- <p>Estado: <i class="fas fa-check" style="color: green;"></i></p> -->

                    <div class="pretty p-default p-curve p-toggle">
                      <input type="checkbox" />
                      <div class="state p-success p-on">
                        <label>Ligada</label>
                      </div>
                      <div class="state p-danger p-off">
                        <label>Desligada </label>
                      </div>


                    </div>

                    <br>
                    <br>



                    <script src="/public/assets/js/jscolor.js"></script>

                    <div style="position:absolute; left:280px;" hidden>
                      R, G, B = <span id="rgb"></span><br />
                      <span id="hex-str"></span><br />
                      <span id="rgb-str"></span><br />
                      <span id="hsv"></span>
                    </div>

                    <input class="jscolor {onFineChange:'update(this)'}" style="width: 40px; height: 40px; -webkit-border-radius: 50px; border-radius: 50px;  border: none;text-indent: -99em; display:block;"
                      value="ffcc00">
                  </div>
                  <div class="col-md-6">

                    <p id="luzAtual" style="text-align: center"></p>



                    <button type="submit" class="btn btn-info btn-fill btn-wd" style="float: right; margin-top: 10px;">Mudar Cor</button>
                    <script>
                      function update(picker)
                      {
                        document.getElementById('hex-str').innerHTML = picker
                          .toHEXString();
                        document.getElementById('rgb-str').innerHTML = picker
                          .toRGBString();

                        document.getElementById('rgb').innerHTML =
                          Math.round(picker.rgb[0]) + ', ' +
                          Math.round(picker.rgb[1]) + ', ' +
                          Math.round(picker.rgb[2]);

                        document.getElementById('hsv').innerHTML =
                          Math.round(picker.hsv[0]) + '&deg;, ' +
                          Math.round(picker.hsv[1]) + '%, ' +
                          Math.round(picker.hsv[2]) + '%';
                      }
                    </script>
                  </div>
                </div>
              </div>



            </div>
          </div>
        </div>

        <div class="col-lg-6 col-sm-6">
          <div class="card">
            <div class="content">



              <div class="dropdown-heading" role="tab" id="heading-4">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-4"
                  aria-expanded="true" aria-controls="collapse-4">


                  <div class="row">
                    <h3 style="text-align: center;">Humidade</h3>


                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                      <div class="icon-big icon-warning text-center">
                        <i class="fas fa-tint" style="color: DeepSkyBlue   ;"></i>
                      </div>
                    </div>
                    <div class="col-xs-4">

                    </div>

                  </div>
                </a>
              </div>


              <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4">
                <div class="panel-body">
                  <hr>
                  <!-- <p>Estado: <i class="fas fa-check" style="color: green;"></i></p> -->
                  <p id="humAtual"></p>
                </div>
              </div>




            </div>
            <div id="container-floating">
            <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" onclick="location.href='/room/<%= division %>/<%= casa1 %>/edit ';" >
              <p class="plus">+</p>
            </div>
        </div>

          </div>
        </div>



      </div>

      <div class="col-lg-12 col-sm-12" id="graphDiv">
        <div class="card">
          <div class="content" style="height:400px">


            <div id="chartContainer" style="height: 100%; width: 100%;"></div>
            <div class="row">

              <script src="/socket.io/socket.io.js"></script>




              <script>
                var socket = io.connect('http://localhost:5000');
                socket.on('data/<%= id_sensor%>', function(measurements)
                {
                  var labels = JSON.parse(measurements);

                  var temp = labels.measurements["temperature"]
                  var luz = labels.measurements["ldr"];
                  var movimento = labels.measurements["motion"];
                  var humidade = labels.measurements["humidity"];
                  $('#tempAtual').text('Temperatura atual: ' + temp);
                  $('#luzAtual').text('Luz: ' + luz);
                  $('#movAtual').text(movimento);
                  $('#humAtual').text('Humidade: ' + humidade);
                  if (movimento == "motion detected")
                  {
                    document.getElementById("Movi").style.color = "green";
                    $('#movAtual').text('Com Movimento ');
                  }
                  else
                  {
                    $('#movAtual').text('Sem Movimento ');
                  }



                })
              </script>


            </div>
          </div>
        </div>

        <% include partials/footer %>
